package views

import (
    "database/sql"
    "fmt"
    sqlc "tpe/Base_Datos/bd/sqlc"
)

func safeInt(n any) string {
    switch v := n.(type) {
    case sql.NullInt32:
        if v.Valid {
            return fmt.Sprint(v.Int32)
        }
        return "-"
    case int32:
        return fmt.Sprint(v)
    default:
        return "-"
    }
}

func safeString(s any) string {
    switch v := s.(type) {
    case sql.NullString:
        if v.Valid {
            return v.String
        }
        return "-"
    case string:
        return v
    default:
        return "-"
    }
}

templ Entity_List(libros []sqlc.Libro, mostrar bool) {

    <section class="col lista-libros">
        <h2>Lista de Libros</h2>
        <form method="GET" action="/">
            <input type="hidden" name="mostrar" value={!mostrar} />
            <button id="boton-listar" class="btn">
                if mostrar { 
                    Ocultar lista 
                }else{
                    Mostrar lista
                }
            </button>
        </form>

        if mostrar {
            @Lista_libros(libros)
        } else {
            <p>La lista está oculta. Hacé clic en “Mostrar lista” para verla.</p>
        }
    </section>
}