package views

templ Entity_form(){
    <section class="col agregar-libro">
        <h2>Agregar Libro</h2>
        <form id="formulario-libro" method="post" action="/create">
            <div class="form-group">
            <label for="titulo">Titulo:</label>
            <input type="text" id="titulo" name="titulo" required>
            </div>

            <div class="form-group">
            <label for="autor">Autor:</label>
            <input type="text" id="autor" name="autor" required>
            </div>

            <div class="form-group">
            <label for="anioPublicacion">Año de Publicación:</label>
            <input type="number" id="anioPublicacion" name="anioPublicacion" min="860" max="2025" required>
            </div>

            <div class="form-group rating-group">
            <label>Valoración:</label>
            <p class="clasificacion">
                <input id="star-5" type="radio" name="valoracion" value="5" required>
                <label for="star-5" title="5 estrellas">★</label>
                <input id="star-4" type="radio" name="valoracion" value="4">
                <label for="star-4" title="4 estrellas">★</label>
                <input id="star-3" type="radio" name="valoracion" value="3">
                <label for="star-3" title="3 estrellas">★</label>
                <input id="star-2" type="radio" name="valoracion" value="2">
                <label for="star-2" title="2 estrellas">★</label>
                <input id="star-1" type="radio" name="valoracion" value="1">
                <label for="star-1" title="1 estrella">★</label>
            </p>
            </div>

            <div class="form-group full-width">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" cols="50" rows="4"></textarea>
            </div>

            <div class="form-group">
            <label for="genero">Genero:</label>
            <input type="text" id="genero" name="genero" required>
            </div>

            <button id="boton-agregar" type="submit" class="btn">Agregar</button>
        </form>
        </section>
}