package views

import (
    "database/sql"
    "fmt"
    sqlc "tpe/Base_Datos/bd/sqlc"
    "strconv"
)

func safeInt(n any) string {
    switch v := n.(type) {
    case sql.NullInt32:
        if v.Valid {
            return fmt.Sprint(v.Int32)
        }
        return "-"
    case int32:
        return fmt.Sprint(v)
    default:
        return "-"
    }
}

func safeString(s any) string {
    switch v := s.(type) {
    case sql.NullString:
        if v.Valid {
            return v.String
        }
        return "-"
    case string:
        return v
    default:
        return "-"
    }
}

templ Entity_List(libros []sqlc.Libro, mostrar bool, sortColumn, sortOrder string) {
    <section id="entity-list" class="col lista-libros">
        <h2>Lista de Libros</h2>

        <button id="boton-listar" class="btn" type="button"
            hx-get={"/?mostrar=" + strconv.FormatBool(!mostrar)}
            hx-target="#entity-list"
            hx-swap="outerHTML"
        >
                if mostrar { 
                    Ocultar lista 
                } else { 
                    Mostrar lista 
                }
        </button>

        if mostrar {
            @Lista_libros(libros, mostrar, sortColumn, sortOrder)
        } else {
            <p>La lista está oculta. Hacé clic en “Mostrar lista”.</p>
        }
    </section>
}
