package views

import (
    sqlc "tpe/Base_Datos/bd/sqlc"
)

templ Home(libros []sqlc.Libro, mostrar bool) {
    <div class="main-content">
        @Entity_form(mostrar)
        @Entity_List(libros, mostrar)
    </div>
}
