package views

import (
    sqlc "tpe/Base_Datos/bd/sqlc"
)

templ Home(libros []sqlc.Libro, mostrar bool, sortColumn string, sortOrder string) {
    <div class="main-content">
        @Entity_form(mostrar, sortColumn, sortOrder)
        @Entity_List(libros, mostrar, sortColumn, sortOrder)
    </div>
}

