package views

templ Layout(title string, content templ.Component) {
	<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>{ title }</title>
			<!-- Integracion de HTMX -->
			<script src="https://unpkg.com/htmx.org@1.9.12"></script>
			<link rel="stylesheet" href="/static/style.css" />
		</head>
		<body>
			<header>
				<div class="texto-header">
					<h1 class="titulo-header">Tu Huella de Lectura</h1>
					<h2>Bienvenido a tu biblioteca personal</h2>
				</div>
			</header>

			<main>
				@content
			</main>
		</body>
	</html>
}