package views

import (
    sqlc "tpe/Base_Datos/bd/sqlc"
)

templ Lista_libros(libros []sqlc.Libro, mostrar bool, sortColumn, sortOrder string) {

    <div id="lista-libros">
        <table id="tabla-libros">
            <thead>
                <tr>
                    @SortableHeader("id", "ID", sortColumn, sortOrder, mostrar)
                    @SortableHeader("titulo", "Título", sortColumn, sortOrder, mostrar)
                    @SortableHeader("autor", "Autor", sortColumn, sortOrder, mostrar)
                    <th>Descripción</th>
                    @SortableHeader("valoracion", "Valoración", sortColumn, sortOrder, mostrar)
                    @SortableHeader("anio", "Año", sortColumn, sortOrder, mostrar)
                    @SortableHeader("genero_principal", "Género principal", sortColumn, sortOrder, mostrar)
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                for _, libro := range libros {
                    <tr>
                        <td>{ libro.ID }</td>
                        <td>{ libro.Titulo }</td>
                        <td>{ libro.Autor }</td>
                        <td>{ libro.Descripcion }</td>
                        <td>{ safeInt(libro.Valoracion) }</td>
                        <td>{ safeInt(libro.Anio) }</td>
                        <td>{ safeString(libro.GeneroPrincipal) }</td>
                        <td>
                            <form method="post" action="/delete">
                                <input type="hidden" name="id" value={libro.ID}>
                                <input type="hidden" name="sort" value={sortColumn} />
                                <input type="hidden" name="order" value={sortOrder} />
                                <button class="boton-eliminar">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}