package views

import "fmt"

func nextOrder(column, currentCol, currentOrd string) string {
    if column == currentCol && currentOrd == "asc" {
        return "desc"
    }
    return "asc"
}

templ SortableHeader(name, label, currentCol, currentOrd string, mostrar bool) {
    <th
        class={
            map[string]bool{
                "sortable": true,
                "sorted-asc":  currentCol == name && currentOrd == "asc",
                "sorted-desc": currentCol == name && currentOrd == "desc",
        }}
    >
        <a
            hx-get={
                fmt.Sprintf(
                    "/?mostrar=%t&sort=%s&order=%s",
                    mostrar,
                    name,
                    nextOrder(name, currentCol, currentOrd),
                )
            }
            hx-target="#entity-list"
            hx-swap="outerHTML"
            class="header-sort"
            style="cursor:pointer"
        >
            { label }
        </a>
    </th>
}

