body {
    font-family: 'Montserrat';
    background: #946c4c;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #3d2109;
}

header {
    background-image: url('./Imagenes/libro2.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    color: #fff;
}

.hero-text {
    display: flex;
    flex-direction: column; /* título arriba, subtítulo debajo */
    align-items: center;
    gap: 1px; /* espacio entre h1 y h2 */
    padding: 15px 25px; 
}

.titulo-header {
    padding: 5px 10px;
    font-size: 4rem;
    font-weight: 400;
}

.main-content {
    display: flex;       /* activa flexbox */
    gap: 30px;           /* espacio entre columnas */
    padding: 20px;
}

.col {
    flex: 1;             /* ambas columnas ocupan el mismo espacio */
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Responsive: en pantallas pequeñas se apilan verticalmente */
@media (max-width: 900px) {
    .main-content {
        flex-direction: column;
    }
}

/* Estrellas*/
p.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline table;
  top: 5px
}

p.clasificacion input {
  position: absolute;
  top: -100px;
}

p.clasificacion label {
  float: right;
  color: #333;
}

p.clasificacion label:hover,
p.clasificacion label:hover ~ label,
p.clasificacion input:checked ~ label {
  color: rgb(247, 208, 35);
}

